<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#044aab"/>
    <title>Revision Access Point</title>
    <link rel="icon" type="image/x-icon" href="/resources/logo.svg">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/load.css">
    <link rel="manifest" href="/manifest.json">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- Ad sense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4066811607299460"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  </head>
  <body>
    <div id="hide">
        <div class="container-fluid bg-dark p-2 d-flex justify-content-center align-items-center" id="univLoad" >
          <div class="loadDiv2"></div>
        </div>
    </div>
    <div class="container-fluid d-flex align-items-center justify-content-between" id="nav" style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%); height: 50px;">
        <div class="mb-3 d-flex align-items-center justify-content-center" id="logo" style="margin-top: 10px;">
            <div>
                <h1 class="h1 text-light mb-0" style="font-size: 25px; font-weight: bold;">RAP</h1>
                <!-- <div class="container d-flex flex-row align-items-center justify-content-start m-0 p-0">
                    <h1 class="h1 text-light m-0" style="font-size: 25px; font-weight: bold;">Point</h1>
                    <div class="ms-1" style="background-color: white; height: 25px; width: 85px;">
                    </div>
                </div> -->
            </div>
        </div>

        <div>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" style="position: relative; display: inline-block;">
              <i class="fa fa-bars text-light" aria-hidden="true" style="font-size: 20px;"></i>
            </button>
        </div>
    </div>
    <div class="container d-flex justify-content-end align-items-center p-0" style="position: absolute; z-index: 1; right: 3px;">
      <div class="m-0 mt-1">
        <div class="container collapse navbar-collapse" id="collapsibleNavbar" style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%);">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/home" class="text-light nav-link" style="font-size: 17px; text-decoration: none;"><i class="fa fa-home text-light me-0" aria-hidden="true"></i> |  Home </a>
              </li>   
            <li class="nav-item">
              <a href="/" class="text-light nav-link" style="font-size: 17px; text-decoration: none;"><i class="fa fa-sign-out text-light me-0" aria-hidden="true"></i> |  Sign out</a>
            </li>   
          </ul>
        </div>
      </div>
    </div>

    <!-- Course information -->
    <div class="container-fluid mt-2">
        <h6 class="m-0" style="text-transform: uppercase; font-weight: 400;"><%= school.replaceAll("_"," ") %></h6>
        <H6 class="m-0" style="text-transform: uppercase; font-weight: 400;"><%= department.replaceAll("_"," ") %></H6>
        <h6 class="m-0" style="text-transform: uppercase; font-weight: 400;"><%= year.replaceAll("_"," ") %></h6>
        <h6 class="m-0 mb-1" style="text-transform: uppercase; font-weight: 400;"><%= unit.replaceAll("_"," ") %></h6>
        <div style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%); height: 5px;"></div>
    </div>

    <!-- Content navigation buttons -->
    <div class="container-fluid mt-3 d-flex justify-content-start align-items-center">
        <ul class="nav nav-pills  m-0" role="tablist" style="list-style: none;">
            <li class="p-1 ps-3 pe-3 me-2 rounded " style="border: 2px solid darkgray;">
                <a class="text-muted" data-bs-toggle="pill" href="#notes" role="tab" style="text-decoration: none;" id="notesanchor">Notes</a>
            </li>
            <li class="p-1 ps-3 pe-3 me-2 rounded" style="border: 2px solid darkgray;">
                <a class="text-muted" data-bs-toggle="pill" href="#exams" role="tab" style="text-decoration: none;">Exams</a>
            </li>
            <li class="p-1 ps-3 pe-3 me-2 rounded" style="border: 2px solid darkgray;">
                <a class="text-muted" data-bs-toggle="pill" href="#cats" role="tab" style="text-decoration: none;">CATs</a>
            </li>
            <li class="p-1 ps-3 pe-3 rounded" style="border: 2px solid darkgray;">
                <a class="text-muted" data-bs-toggle="pill" href="#tutorials" role="tab" style="text-decoration: none;">Tutorials</a>
            </li>
        </ul>
    </div>

    <!-- Notes div -->
    <div class="container-fluid tab-content mt-3 notes" id="pills-tabContent">
        <div class="tab-pane fade show pb-2" id="notes" role="tabpanel">
            <!-- Note -->
            <% notes.forEach(function(note) { %>
                <div class=" d-flex justify-content-center rounded mt-2" style="background: linear-gradient(to left,#ff3131 0%, #004aad 100%); padding: 1px;">
                    <div class="text-light bg-light m-0 rounded p-2" style="width: 100%; height: 100%;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/resources/notes.svg" alt="" width="25px" height="25px" class="me-2">
                                <h6 class="pe-2 m-0" style="color: #004aad; font-weight: 300;"><%= note.replace(".pdf"," ").replaceAll("_"," ") %></h6>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="/quiz/<%=school%>/<%=department%>/<%=year%>/<%=unit%>/classNotes/<%=encodeURIComponent(note)%>" class="text-muted me-2 p-1 rounded quizLnk" style="border: 1px solid darkgray;" onclick="loadScreen()">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                                <!-- <a href="/pdf/<%=school%>/<%=department%>/<%=year%>/<%=unit%>/classNotes/<%=encodeURIComponent(note)%>" class="text-muted p-1 rounded" style="border: 1px solid darkgray;"> -->
                                <a href="/pdf/<%=school%>/<%=department%>/<%=year%>/<%=unit%>/classNotes/<%=encodeURIComponent(note)%>" class="text-muted p-1 rounded" style="border: 1px solid darkgray;">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div> 
            <% }); %>
            
        </div>

        <!-- Exams div -->
        <div class="tab-pane fade show" id="exams" role="tabpanel">
            <% exams.forEach(function(exam) { %>
                <div class=" d-flex justify-content-center rounded mt-2" style="background: linear-gradient(to left,#ff3131 0%, #004aad 100%); padding: 1px;">
                    <div class="text-light bg-light m-0 rounded p-2" style="width: 100%;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/resources/exam3.svg" alt="" width="25px" height="25px" class="me-2">
                                <h6 class="m-0" style="color: #004aad; font-weight: 300;"><%= exam.replace(".pdf"," ").replaceAll("_","-") %></h6>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="/pdf/<%=school%>/<%=department%>/<%=year%>/<%=unit%>/exams/<%=encodeURIComponent(exam)%>" class="text-muted p-1 rounded" style="border: 1px solid darkgray;">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            <% }) %>
           
        </div>

        <!-- Cats div -->
        <div class="tab-pane fade show" id="cats" role="tabpanel">
            <% cats.forEach(function(cat) { %>
                <div class=" d-flex justify-content-center rounded mt-2" style="background: linear-gradient(to left,#ff3131 0%, #004aad 100%); padding: 1px;">
                    <div class="text-light bg-light m-0 rounded p-2" style="width: 100%;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="/resources/exam3.svg" alt="" width="25px" height="25px" class="me-2">
                                <h6 class="m-0" style="color: #004aad; font-weight: 300;"><%= cat.replace(".pdf"," ").replaceAll("_","-") %></h6>
                            </div>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="/pdf/<%=school%>/<%=department%>/<%=year%>/<%=unit%>/cats/<%=encodeURIComponent(cat)%>" class="text-muted p-1 rounded" style="border: 1px solid darkgray;">
                                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
            
        </div>

        <!-- Tutorials div -->
        <div class="tab-pane fade show" id="tutorials" role="tabpanel">
            <% tutorials.forEach((tutorial) => { %>
                <div class="d-flex justify-content-center rounded mt-2" style="background: linear-gradient(to left,#ff3131 0%, #004aad 100%); padding: 1px;">
                    <div class="text-light bg-light rounded" style="width: 100%; position: relative;">
                        <%- tutorial %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div class="loadDiv container d-flex p-5 flex-column align-items-center justify-content-center">
        <div class="load" style="display: none;">
            <div class="load2">

            </div>
        </div>
        <div class="mt-3 text" style="text-align: center; display: none; font-weight: 300;">
            <h6 class="h6 text-muted">Preparing your questions...</h6>
        </div>
    </div>

    <script>

        document.querySelector('a').addEventListener('click',()=>{
            document.getElementById('univLoad').style.display = 'block';
        })

        window.onload  = ()=>{
            document.getElementById('hide').style.display = 'none'
        }

        window.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('notesanchor').click();
            
        });

        let messages = [
            "Reading the pdf...",
            "Generating questions...",
            "Reviewing answers...",
            "Almost done...",
        ]

        let count = 0

        setInterval(() => {
            let message = messages[count]
            count++
            if(count == messages.length) {count = 0}
            document.querySelector(".text h6").innerHTML = message;
        }, 5000);

        function loadScreen (){
           document.querySelector('.notes').style.display = 'none';
           document.querySelector('.load').style.display = 'block';
           document.querySelector('.text').style.display = 'block';
        }

    </script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/69a11c0c5f.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- If the message is in the route query -->
    <% if (message) { %>
        <script>
            Toastify({
            text: "<%=message%>",
            duration: 3000,
            // destination: "https://github.com/apvarun/toastify-js",
            newWindow: true,
            //  close: true,
            gravity: "top", // `top` or `bottom`
            position: "center", // `left`, `center` or `right`
            stopOnFocus: true, // Prevents dismissing of toast on hover
            style: {
                background: "linear-gradient(to right, red, blue)",
            },
            // onClick: function(){} // Callback after click
            }).showToast()
        </script>
    <% } %>
    <script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/js/service-worker.js').then(function(registration){
                console.log('Service Worker registered');
            }).catch(function(error){
                console.log('Service Worker registration failed:', error);
            })
        }
    </script>
  </body>
</html>