<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#044aab"/>
    <title>Revision Access Point</title>
    <link rel="icon" type="image/x-icon" href="/resources/logo.svg">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/quiz.css">
    <link rel="manifest" href="/manifest.json">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <!-- Ad sense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4066811607299460"
     crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  </head>
  <body>
    <div id="hide">
      <div class="container-fluid bg-dark p-2 d-flex justify-content-center align-items-center" id="univLoad" style="display: none;">
        <div class="loadDiv2"></div>
      </div>
    </div>
  <!-- Nav bar -->
  <!-- <div class="container-fluid d-flex align-items-center justify-content-between" id="nav" style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%);">
      <div class="mb-3 d-flex align-items-center justify-content-center" id="logo" style="margin-top: 10px;">
          <div>
              <h1 class="h1 text-light mb-0" style="font-size: 25px; font-weight: bold;">RAP</h1>
          </div>
      </div>
      <div>
          <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" style="position: relative; display: inline-block;">
            <i class="fa fa-bars text-light" aria-hidden="true" style="font-size: 20px;"></i>
          </button>
      </div>
  </div> -->

  <!-- Dropdown menu -->
  <!-- <div class="container d-flex justify-content-end align-items-center p-0" style="position: absolute; z-index: 1; right: 3px;">
    <div class="m-0 mt-1">
      <div class="container collapse navbar-collapse" id="collapsibleNavbar" style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%);">
        <ul class="navbar-nav">
          <li class="nav-item">
              <a href="/home" class="text-light nav-link" style="font-size: 17px; text-decoration: none;"><i class="fa fa-home text-light me-0" aria-hidden="true"></i> | Home </a>
            </li>   
          <li class="nav-item">
            <a href="/" class="text-light nav-link" style="font-size: 17px; text-decoration: none;"><i class="fa fa-sign-out text-light me-0" aria-hidden="true"></i> | Sign out</a>
          </li>   
        </ul>
      </div>
    </div>
  </div> -->

  <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light" style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%); height: 50px;">
    <div class="container" id="container">
        <a class="navbar-brand text-light" href="#"><b>RAP</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
        style="box-shadow: none;">
        <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fa fa-bars text-light" aria-hidden="true" style="font-size: 20px;"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <!-- <div class="d-flex justify-content-end align-items-center w-100"> -->
                <ul class="navbar-nav w-100 d-flex justify-content-end">
                    <li class="nav-item">
                        <a href="/home" class="text-light nav-link" style="font-size: 17px; text-decoration: none;" onclick="showLoader()">
                            <!-- <i class="fa fa-home text-light me-0" aria-hidden="true"></i> -->
                            Home </a>
                    </li>  
                    <li class="nav-item">
                        <a href="/" class="text-light nav-link" style="font-size: 17px; text-decoration: none;" onclick="showLoader()">
                        <!-- <i class="fa fa-sign-out text-light me-0" aria-hidden="true"></i> -->
                        Sign out</a>
                    </li>  
                </ul>
            <!-- </div> -->
        </div>
    </div>
  </nav>

  <!-- Quiz information -->
  <div class="container mt-2">
      <div class="d-flex flex-column justify-content-center align-items-start">
          <h6 class="m-0 mb-1" style="text-transform: uppercase; font-weight: 400;"><%= unit.replaceAll("_"," ") %> . <span class="text-muted">Results</span></h6>
          <h6 class="m-0 mb-1" style="text-transform: uppercase; font-weight: 400;" id="grade">Score:  <span class="text-success"><%=finalScore%>/<%=questions.length%></span></h6>
      </div>

      <div style="background: linear-gradient(to left, #ff3131 0%, #004aad 100%); height: 5px;"></div>
  </div>

  <% if(finalScore == questions.length){ %>
    <div class="container mt-3">
      <div class="bg-light pt-3 pb-3 rounded d-flex flex-column justify-content-center align-items-center" style="border: 1px solid green;">
        <h3 class="h3 text-success p-4"><i class="fa-solid fa-circle-check fa-2xl"></i></h3>
        <h3 class="h3 text-success">Well done!</h3>
      </div>
    </div>
  <%} else { %>
    <div class="container">
      <div class="pb-4" id="quizResultsDiv">
        <!-- Failed questions -->
        <% failedQuestions.forEach(question => {%>
          <div class="d-flex justify-content-between bg-light rounded p-3 m-2">
              <div class="d-flex flex-column">
                  <h6 class="h6 pe-2 text-muted" style="font-weight: 300;"><%= question.question %></h6>
                  <h6 class="text-success h6" style="font-weight: 300;"> <%= question.answer %> </h6>
                  <!-- <form action="">
                      
                          <div class="form-check p-0">
                              <input type="radio" class="form-check-input" id="" name="" value="">
                              <label class="form-check-label text-muted h5" for="" style="font-weight: 300;">  </label>
                          </div>
                      
                  </form> -->
              </div>
          </div>
        <%})%>
      </div>
    </div>

  <% } %>

  <!-- Content navigation buttons -->
  <div class="container">
    <button class="d-flex justify-content-center align-items-center btn mb-3 ps-3 pe-3 rounded bg-success flex-grow-1" style="padding-top: 5.5px; padding-bottom: 5.5px; text-align: center; width: 100%; max-width: 840px;" id="completeBtn">
      <a class="text-light m-0" href="<%=backPath%>" style="text-decoration: none; font-size: 18px;">Complete review</a>
      <div class="loadDivQuizResults" style="display: none;"></div>
    </button>
  </div>

  <script>
    document.getElementById('completeBtn').addEventListener('click', function(){
      document.querySelector('#completeBtn a').style.display = 'none';
      document.querySelector('.loadDivQuizResults').style.display = 'block';
    })

    window.addEventListener('DOMContentLoaded', (event) => {
          document.getElementById('hide').style.display = 'none'
    });

    function showLoader(){
        document.getElementById('hide').style.display = 'block'
        setTimeout(()=>{
            document.getElementById('hide').style.display = 'none'
        }, 10000)
    }
  </script>
    
    <script src="/js/home.js"></script>
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/69a11c0c5f.js" crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Toastify -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- If the message is in the route query -->
    <% if (message) { %>
      <script>
          Toastify({
          text: "<%=message%>",
          duration: 3500,
          // destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          //  close: true,
          gravity: "top", // `top` or `bottom`
          position: "right", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
              background: "linear-gradient(to right, red, blue)",
          },
          // onClick: function(){} // Callback after click
          }).showToast()
      </script>
    <% } %>
    <script>
        if('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/js/service-worker.js').then(function(registration){
                console.log('Service Worker registered');
            }).catch(function(error){
                console.log('Service Worker registration failed:', error);
            })
        }
    </script>
  </body>
</html>